.header{
    height : 66px;
}
.Nlogo{
    position : fixed;
    margin-left : 0px;
    height : 10%;
    z-index: 10;
}
.user{
    position : fixed;
    top:3%;
    right : 2%;
    height : 8%;
    z-index: 10;
}